{%- style -%}

  #shopify-section--{{ section.id }} .product-features__image img{
    width:100%;
  }
  .product-features{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 20px;
    gap:20px;
  }
  @media screen and(max-width:1024px){
    flex-wrap:wrap;
  }
 .product-features__image {
  max-width: 304px;
  width: 100%;
  }
  .product-features__text{
      max-width:625px;
      font-size:22px;
      line-height:1.7em;
  }

{%- endstyle -%}

<div id="shopify-section--{{ section.id }}" class="product-features">
  <div class="product-features__image">
    <img
            class="global-media-settings global-media-settings--no-shadow"
            srcset="{%- if section.settings.image.width >= 550 -%}{{ image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1445 -%}{{ image | image_url: width: 1445 }} 1445w,{%- endif -%}
            {%- if section.settings.image.width >= 1680 -%}{{ image | image_url: width: 1680 }} 1680w,{%- endif -%}
            {%- if section.settings.image.width >= 2048 -%}{{ image | image_url: width: 2048 }} 2048w,{%- endif -%}
            {%- if section.settings.image.width >= 2200 -%}{{ image | image_url: width: 2200 }} 2200w,{%- endif -%}
            {%- if section.settings.image.width >= 2890 -%}{{ image | image_url: width: 2890 }} 2890w,{%- endif -%}
            {%- if section.settings.image.width >= 4096 -%}{{ image | image_url: width: 4096 }} 4096w,{%- endif -%}
            {{ image | image_url }} {{ section.settings.image.width }}w"
            sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
            src="{{ section.settings.image | img_url: width: 1445 }}"
            alt="{{ media.alt | escape }}"
            loading="lazy"
            width="1100"
            height="{{ 1100 | divided_by: image.aspect_ratio | ceil }}"
            data-media-id="{{ media.id }}"
    >
  </div>
  <div class="product-features__text">
    {{ section.settings.text-features }}
  </div>
</div>

{% schema %}
{
  "name": "Product features",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },

    {
      "type": "header",
      "content": "Text content"
    },
    {
      "type":"richtext",
      "id":"text-features",
      "label":"Text content"
    }
  ],
  "presets": [
    {
      "name": "Product features"
    }
  ]
}
{% endschema %}
